/CVS/*
**/CVS/*
.cvsignore
*/.cvsignore
*.csproj
*/*.csproj
*.sln
*/*.sln
*.suo
*/*.suo
/obj
*/obj
bin
*/bin
*/Properties
*/packages
*/packages.config
*.user
*/*.user
*.lock.json
*.pdb
*/*.pdb
*/*.cache
*/*.cache
/debug
*/debug
/release
*/release
*/bin/Release
*/bin/Debug
*/obj/Release
*/obj/Debug
*/obj/generated
*/obj/generated/_Build
/Debug
/Release
/x64
/x86
*/x64
*/x86
*/bin/x64

