/CVS/*
**/CVS/*
.cvsignore
*/.cvsignore
*.csproj
*/*.csproj
*.sln
*/*.sln
*.suo
*/*.suo
/obj
*/obj
bin
*/bin
*/Properties
*/packages
*/packages.config
*.user
*/*.user
*.lock.json
*.pdb
*/*.pdb
*/*.cache
*/*.cache


